#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1
export DH_OPTIONS=-v

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_BUILD_MAINT_OPTIONS=nostrip

%:
	dh $@

# Allow our setuid executable to pass unfixed.
override_dh_fixperms:
	dh_fixperms -Xgenie

override_dh_shlibdeps:
	dh_shlibdeps -- -xlibgcc-s1
