build/
dist/
out/

# Genie wrapper
binsrc/genie-wrapper/genie

# Debian build intermediates

debian/systemd-genie
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/systemd-genie.*
debian/genie-*

# Arch build intermediates

package/arch/src/
package/arch/pkg/

# Tar build intermediates
package/tar/tarball


