build/
dist/
out/

# Genie wrapper
binsrc/genie-wrapper/genie
binsrc/genie/*.dist-info
binsrc/genie/argparse.py
binsrc/genie/bin/
binsrc/genie/contextlib2/
binsrc/genie/nsenter/
binsrc/genie/pathlib.py
binsrc/genie/python_hosts/
binsrc/out

# Debian build intermediates

debian/systemd-genie
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/systemd-genie.debhelper.log
debian/systemd-genie.substvars
debian/genie-*

# Arch build intermediates

package/arch/src/
package/arch/pkg/

# Tar build intermediates
package/tar/tarball


