build/
dist/
out/

# Genie wrapper
binsrc/genie-wrapper/genie

# Genie python modules
binsrc/genie/*.dist-info
binsrc/genie/bin/
binsrc/genie/nsenter/
binsrc/genie/python_hosts/

# Built binaries
binsrc/out

# Debian build intermediates

debian/systemd-genie
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/systemd-genie.debhelper.log
debian/systemd-genie.substvars
debian/genie-*

# Tar build intermediates
tarball

# Arch build intermediates

genie/

