[Socket]
ListenStream=/tmp/.X11-unix/X0
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Install]
WantedBy=sockets.target
