[Socket]
ListenStream=/tmp/.X11-unix/X0

[Install]
WantedBy=sockets.target
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service
